/* index.php mostly */

/* Sticky footer CSS */

* {
  margin: 0;
}

.dontshow {
	display:none;
}

.loadingimage {
	  margin-top:55px;
	  margin-bottom:45px;
    -webkit-animation:spinpencil 3s linear infinite;
    -moz-animation:spinpencil 3s linear infinite;
    animation:spinpencil 3s linear infinite;
    
}

@-moz-keyframes spinpencil { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinpencil { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinpencil { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.startbutton {
	display:block;
	margin:0 auto;
	position:absolute;
	top:40%;
	bottom:55%;
	left:40%;
	right:40%;
}

input.startbutton {
	width:10%;
}

html,body {
  overflow:hidden;
  background-image:url("../images/sandyt-background.png");
  height:100%;
}

html,body, .start-container {
  height:100%;
  min-height: 100% !important;
}

.move-on-body {
	position:absolute;
	top:36.5%;
	left:48%;
}

.move-on-body input {
	width:175px;
	height:75px;
}

h1,h2,h3,h4,h5,p {
		font-family: 'Coming Soon', cursive;
}

body {
	margin:0;
	padding:0;
	z-index:0;
}

.sign-in {
	background:white;
	width:970px;
	height:480px;
	display:block;
	margin:0 auto;
	position:relative;
	border:solid 7px #ffcb29;
	border-radius:0 0 25% 25%;
	top:-15px;
	z-index:1;
}

.credentials {
	padding-top:25px;
	text-align:center;
	position:relative;
	z-index:0;
}



.sign-in input {
	width:250px;
	font-size:30px;
	display:inline-block;
	margin:5px;
}

.sign-in label {
	width:250px;
	font-size:30px;
	display:inline-block;
	margin:5px;
}

.submit{
	margin:25px !important;
}

/* Header CSS */

/* Main CSS */

/* Footer CSS */

.header {
		z-index:2;
		position:relative;
}

.header img {
	margin:0 auto;
	display:block;
}

.footer {
	margin-top:25px;
}

.footer-text  {
	text-align:center;
	color:black;
	font-size:22.5px;
	text-decoration:none;
}

a.footer-text {
	width:250px;
	display:inline-block;
	margin:0 auto;
}


/* Left Column */

.left-column {
  float: left;
  width: 45%;
  height:1%;
  padding-left:4%;
  padding-top:30px;
  padding-bottom:30px;
}

.left-inner-left {
	width:49%;
	float:left;
}

.left-inner-right {
	width:49%;
	float:left;
}

/* Right Column */

.right-column {
	float: left;
	width:45%;
	height:1%;
	padding-left:4%;
  padding-top:30px;
  padding-bottom:30px;
}

.right-inner-left {
	width:49%;
	float:left;
}

.right-inner-right {
	width:49%;
	float:left;
}

/* Right and Left Column */

.away-from-h4 {
	padding-bottom:25px
}

.right-column iframe {
	width:384px; 
	height:275px;
	background:white;
	border:none;
}

.left-column iframe {
	width:762px;
	height:556px;
	border:none;
	background:white;
}

/* Journal */

.journal {
	width:75%;
	display:block;
	margin:0 auto;
}

.journal p {
	font-size:20px;
}

/* DOM div */



.domman iframe {
 width:94%;
 border:none;
 background:white;
}

iframe.top-frame {
	height:527px !important;
}

iframe.bottom-frame {
	height:650px !important;
}

/* Register Page */

.go-back {
	height:32px;
}

.go-back span {
	font-family: 'Coming Soon', cursive;
	font-size:30px;
	margin-left:12px;
	position:relative;
	bottom:8px;
}

.go-back a {
	text-decoration:none;
	color:black;
}

.go-back a:hover {
	color:#eb2a37;
}

.go-back a:hover {
	color:black;
}

/*START CSS */

.start-container {
	background-image: url("../images/start-page.png");
	width:100%;
	height:100%;
	position:fixed;
}

/* PLAY  CSS */

.container {
	width:75%;
	height:75%;
	background:white;
	position:absolute;
}

.play-container {
	background-image: url("../images/background-tiles.jpg");
	width:100%;
	height:100%;
	position:fixed;
}

div.left-side {
	position:fixed;
	width:46.5%;
	background-color:white;
	height:90%;
	left:45px;
	top:45px;
}

div.right-side {
	position:fixed;
	width:46.5%;
	background-color:white;
	height:90%;
	right:45px;
	top:45px;
	
}

.visualcontainer p {
	text-align:center;
	font-size:35px;
}

.visualcontainer p:first-child {
	padding-top:25px;
}

.visualcontainer img {
	padding-top:75px;
	display:block;
	margin:0 auto;
}

table {
	  border: none;
    border-collapse: collapse;
    padding:35px;
    margin: 0;
    width:90%;
    display:block;
    margin:0 auto;
}

table th {
	border:solid 1px black;
	padding:10px;
}

table td {
  border:solid 1px black;
  width:105px;
  height:50px;
}

table td:first-child {
	width:50px;
}

.firstchild {
	text-align:center;
}


