/* index.php mostly */

/* Sticky footer CSS */

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
	background-color:#34FF71;
	margin:0;
	padding:0;
}

.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}

.wrapper:after {
  content: "";
  display: block;
}


/* Header CSS */

div.header {
	background-color:#FF5034;
	width:100%;
	height:5.5em;
	padding-top:5px;
}

.header h1 {
	font-family: 'Bevan', cursive;
	color:white;
	font-size:35px;
	margin-bottom:0;
	margin-right:0;
	margin-top:10px;
	margin-left:25px;
	padding-bottom:0;
	padding-right:0;
	padding-top:0;
	padding-left:0;
	
	
}

.header p {
	font-family: 'Merriweather', serif;
	margin-bottom:0;
	margin-right:0;
	margin-top:-10px;
	margin-left:25px;
	padding-bottom:0;
	padding-right:0;
	padding-top:0;
	padding-left:0;
}

/* Main CSS */

.footer-text  {
	text-align:center;
	display:block;
	margin:0 auto;
	padding-top:10px;
	color:white;
	font-size:22.5px;
	text-decoration:none;
}

.footer-text:hover {
	color:#3BD4FF;
	font-size:25px;
}

.footer-text:active {
	color:white;
	font-size:22.5px;
}

a.footer-text {
	width:275px;
}

/* Footer CSS */

.footer, .wrapper:after {
  height: 50px; 
}

.footer {
  background: #FF5034;
}

/* codetopicsandassignments.html */

/* Left Column */

.left-column {
  float: left;
  width: 45%;
  height:1%;
  padding-left:4%;
  padding-top:30px;
}

.left-inner-left {
	width:49%;
	float:left;
}

.left-inner-right {
	width:49%;
	float:left;
}

/* Right Column */

.right-column {
	float: left;
	width:45%;
	height:1%;
	padding-left:4%;
  padding-top:30px;
}

.right-inner-left {
	width:49%;
	float:left;
}

.right-inner-right {
	width:49%;
	float:left;
}

/* Right and Left Column */

.away-from-h4 {
	padding-bottom:25px
}

iframe {
	width:384px; 
	height:275px; 
	background:white;
	border:none;
}