<xmp><!DOCTYPE html>
<html>
<body></body>

<h1>JSON.stringify() AND JSON.parse()</h1>

<h3>Stringify Demonstration of Rifles</h3>	
<p id="provestring1"></p>

<h3>Stringify Demonstration of SMGs</h3>	
<p id="provestring2"></p>

<h3>Parsify Demonstration of Rifles</h3>	
<p id="proveparse1"></p>

<h3>Parsify Demonstration of SMGs</h3>	
<p id="proveparse2"></p>



<script>

// Declaring variables
var rifles;
var utility;
var smgs;
var provestring1;
var provestring2;
var proveparse1;
var proveparse2;
var storageQuery1;
var storageQuery2;

// Create rifle object with properties

rifles = {"rifle1":"M4A1",
	        "rifle2":"M16",
	        "rifle3":"SCAR",
	        "rifle4":"AKM",
	        "rifle5":"Khar 98",
	        "rifle5":"SKS", 
	        "rifle6":"M24",
	        "rifle7":"AWM"};


// Create smg object with properties

smgs = {"smg1":"Vector",
	      "smg2":"UMP 9",
	      "smg3":"Micro UZI"};	     


// Convert objects to strings
provestring1 = JSON.stringify(rifles);	      
provestring2 = JSON.stringify(smgs);

// Store the stringified objects locally
localStorage.setItem("rifleJSON", provestring1);
localStorage.setItem("smgJSON", provestring2);

// Print the new strings
document.getElementById('provestring1').innerHTML = provestring1;
document.getElementById('provestring2').innerHTML = provestring2;

// Retrieve the strings from local storage
storageQuery1 = localStorage.getItem("rifleJSON");
storageQuery2 = localStorage.getItem("smgJSON");
// Convert string to object
proveparse1 = JSON.parse(storageQuery1);
proveparse2 = JSON.parse(storageQuery2);
// Prove parse1 to demonstrate that it's no longer a string and the default [object Object] displays in stead.
document.getElementById("proveparse1").innerHTML = proveparse1;
// Prove parse2 to demonstrate that it's parsed by calling the smg2 property
document.getElementById("proveparse2").innerHTML = proveparse2.smg2;


var request = new XMLHttpRequest();
var requestURL = 'http://calapi.inadiutorium.cz/api/v0/en/calendars/default/today';

request.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    var text = JSON.parse(this.responseText);
    test(text);
  }
};

request.open('GET', requestURL, true);
request.send();

function test(obj) {
  var myObj = obj;
  document.getElementById('test').innerHTML = "It is " + "<u>" + myObj.season + "</u>" + " season in the Catholic Church currently.";


}


</script>

<h1>XMLHttpRequest();</h1>

<h3>Retreive Information From Catholic Church Calendar</h3>
<p id="test"></p>

</body>
</html>
</xmp>