

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>JSON Stringify, Post, Get, Parse</title>
  <meta name="description" content="JSON Parse, JSON Stringify and XMLHTTPRequest to Consume a JSON Web Service">
  <meta name="author" content="Blake Turley">

</head>

<body>
	
<h2>JSON Stringify, Post, Get, Parse</h2>

<script type="text/javascript">
	var httpRequest = new XMLHttpRequest();
	httpRequest.open('GET', 'https://learnwebcode.github.io/json-example/animals-1.json');
	httpRequest.onload = function (){
		console.log(httpRequest.responseText);
	};
	httpRequest.send();
</script>



  
</body>
</html>