<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ToDoABLES</title>
	<link href="https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> 
	
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="../css/todo.css">
  
  <script type="text/javascript" src="../scripts/iframes.js"></script>
  
  <link rel="icon" href="../favicon.ico" type="image/x-icon" />
 
</head>

<body>
	
	<div class="wrapper">
		
	<div class="header">
 <a href="../index.html"><h1>ToDoABLES</h1></a>
 <p>A Simple, Yet Effective, ToDo List!</p>
 </div>
 
 <div id="main" class="main journal">
 	<center><h1>My Journal</h1><br></center>
 	<u><h2>Week 1</h2></u><br>
 	<p>I introduced myself to the class and read through the rubric and expectations. This class layout is something I'm used to when I worked for Zylun Insights as their programming manager. The only difference is there I had a place I could go to learn things, but in this I've got Google and I have to learn what I can from there.</p><br><br>
 	<u><h2>Week 2</h2></u><br>
 	<p>This week for the most part has been a refresher of what I had learned in the entry level JavaScript class I took my first semester on campus. It's been some time since I've used JavaScript to this extent as I had been fuly employed with a very demanding job where I mostly did scripting in the Survox Web Platform making surveys. Coming into this class late was a bit of a pain as I didn't have the time I had wanted and had a hard time getting organized, but I think I come the start of next week I'll be in a good place. I was able to meet with my group on Tuesday and we came up with a game plan. Bring on next week! </p><br><br>
 	<u><h2>Week 3</h2></u><br>
 	<p>This week I was moved into a new group about 2 hours before they had their meeting. Because of this I was unable to join the meeting as I didn't know about it. In my week assessment I said I didn't attend the meeting (even though I felt that putting that wasn't quite fair, but I wanted to be honest). This week I went more fully over Object Creation Functions, Inheritance, Properties, Methods, Instantiation to fully grasp what they are and their concepts. These were a little harder to dig out of Google, but I think I found what I needed to and I was able to do a lot of practice coding.</p><br><br>
 	<u><h2>Week 4</h2></u><br>
 	<p>This week I was able to meet with my new group. I'm excited! They all are very dedicated to the work and the presentation given on JSON was great. I learned a lot and I was able to record the meeeting with the recording software I have because we couldn't get Hangouts On Air to work. I also spent time learning JSON Parse and Stringify. I had a hard time using a server to do this, but I think I got it.</p><br><br>
 <u><h2>Week 5</h2></u><br>
  <p></p>This week I was able to finally get an XMLHTTP request and it happened to work pulling from the Catholic church's calendar. I think I was missing something when I was trying to pull from the Steam API. I had my key and I had the game and player id all correct, but for some reason when I tried to pull from it nothing showed up. Local Storage is really cool and I'm excited to fiddle around with it more and more. I want to scower the internet to see if login sessions can be done with it. I was able to complete a fun little snippet of code using storage and retrieval.<br><br>
 <!--  <u><h2>Week 6</h2></u><br>
  <p></p><br><br>
  <u><h2>Week 7</h2></u><br>
  <p></p><br><br>
  <u><h2>Week 8/h2></u><br>
  <p></p><br><br>
  <u><h2>Week 9</h2></u><br>
  <p></p><br><br>
  <u><h2>Week 10</h2></u><br>
  <p></p><br><br> -->
 </div>
 </div>
 <div class="footer">
 	<center>
 <a class="footer-text" href="#main">Click To Go To Top</a>
 </center>
 </div>

</body>
</html>