<div class="header">
<img src="images/sandyt-header2.png">
</div>
<div class="sign-in">
<div class="credentials">
	<h1>Login Below</h1><br><br>
	<form class="my-form">
	<p>
	<label>Username:</label><input type="text">
	</p>
	<p>
	<label>Password:</label><input type="text">
	</p>
	<p>
	<input class="submit" type="submit">
	</p>
	<p>
	</form>
	<p style="margin-bottom:75px;">Don't have an account? <a href="#/register">Click Me To Register!</a></p>
	<div class="separate-links2">       
	<a href="#">What is Phoneme Segmentation?</a>
	<a href="view/journal.html">Journal</a>                      
	<a href="view/codetopicsandassignments.html">Code Topics/Assignments</a>
	</div>
	</div>
	</div>