<div class="header">
<img src="images/sandyt-header2.png">
</div>
<div class="sign-in">
<div id="loading">
<div id="loadingimage"></div>
<div class="credentials">
	<h1 id="credentials">Register Below</h1><br><br>
	<form id="credentials">
	<p id="credentials">
	<label id="credentials">Username: </label><input style="margin:left;" type="text" id="user">
	</p>
	<p id="credentials">
	<label id="credentials">Password: </label><input type="password" id="pass">
	</p>
	<p id="credentials">
	<label id="credentials">Match Password: </label><input type="password" id="repass">
	</p>
	<p id="credentials">
  <input id="credentials" class="submit" type="submit" onClick="storeCredentials();">
  </p>
	</form>
		<p style="margin-bottom:15px; !important" id="validatemessage credentials"></p>  
  <div class="go-back"><a href="#/"><img src="../images/backarrow.png" id="credentials" alt="backarrow"><span>Go Back?</span></a></div>
	<div style="margin-top:8px;" id="credentials">       
	<a href="#">What is Phoneme Segmentation?</a>                      
	</div>
</div>
</div>
</div>


