<div class="header">
<img src="images/sandyt-header2.png">
</div>
<div class="sign-in">
<div class="credentials">
	<h1>Register Below</h1><br><br>
	<form>
	<p>
	<label>Username: </label><input style="margin:left;" type="text" id="user">
	</p>
	<p>
	<label>Password: </label><input type="password" id="pass">
	</p>
	<p>
	<label>Match Password: </label><input type="password" id="repass">
	</p>
	<p>
  <input class="submit" type="submit" onClick="storeCredentials();">
  </p>
	</form>
  <div class="go-back"><a href="#/"><img src="../images/backarrow.png" alt="backarrow"><span>Go Back?</span></a></div>
	<p id="validatemessage"></p>  
	<div style="margin-top:25px;">       
	<a href="#">What is Phoneme Segmentation?</a>
	<a href="view/journal.html">Journal</a>                      
	<a href="view/codetopicsandassignments.html">Code Topics/Assignments</a>
	</div>
</div>
</div>
